name: Check

on:
  pull_request:

  push:
    branches:
      - main # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt validateCode

  check-docs:
    name: Docs
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt docs/webStage

  tests:
    name: Tests
    needs:
      - "check-code-style"
      - "check-docs"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt +test

  scripted-tests:
    name: Scripted tests
    needs:
      - "tests"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt +publishLocal plugin/scripted

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "scripted-tests"
    uses: playframework/.github/.github/workflows/rtm.yml@v2
