name: Check

on:
  pull_request:

  push:
    branches:
      - main # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt validateCode

  check-docs:
    name: Docs
    uses: playframework/.github/.github/workflows/antora.yml@v3
    with:
      path: "./docs"

  tests:
    name: Tests
    needs:
      - "check-code-style"
      - "check-docs"
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt +test

  module-tests:
    name: Module tests
    needs:
      - "tests"
    uses: playframework/.github/.github/workflows/cmd.yml@v3
    with:
      cmd: sbt publishLocal;cd test;sbt +test

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "module-tests"
    uses: playframework/.github/.github/workflows/rtm.yml@v3
